@font-face{
  font-family: montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
  font-family: montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: montserrat;
}
