@font-face{
  font-family: montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face{
  font-family: montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: montserrat;
  font-weight: normal;
  border-radius: 3px;
  color: #3a3c3f;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  background: #f2f4f7;
  padding: 50px 0;
}

.container {
  width :55%;
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto;
  /* background: yellow; */

}

.box1{
  background: white;
  padding: 12px 6px;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(184,184,184,0.25), -2px 0 3px rgba(184,184,184,0.25);
}

input {
  width: 73%;
  height: 35px;
  padding: 0px 12px;
  background: #f4f6f9;
  color: #63676d;
  border: 1px solid #d9d9db;
  font-size: 0.92em;

}
::placeholder{
  color: #d9d9db;
}
/* Word search inside button is inot repsonsive */
button {
  width: 15%;
  height: 39px;
  margin-left: 1.5%;
  color: white;
  font-size: 0.8em;
  background: #5998ff;
}
.box2{
    margin-top: 50px;
    height: 40px;
    position:relative;
}

ul {
    overflow:hidden;
    font-size: 0.8rem;
}

li.left {
    float: left;
    line-height: 40px;
    color: #c0c3c6;
    letter-spacing: 0.1em;
}

li.right {
  float: right;
  width: 40%;
  line-height:40px;
}

ul.dropdown{
width: 230px;
right: 0;
position: absolute;
overflow: hidden;
z-index: 999;
}

.option {
  padding-left: 10px;


}

.option:hover {
  border: blue;
  /* background-color: #c5cbd6; */
  box-shadow: inset 0 0 5px #2e7bf7;
}

.dropleft {
  float:left;
  color: #c0c3c6;
  letter-spacing: 0.1em;
}

.dropright {
    width: 150px;
    margin-left: 10px;
    background: white;
    border: 1px solid rgba(184,184,184,0.4);
    float:right;
}

.selected {
  padding-right: 9px;
}

.left > .numResult{
  color: #c0c3c6;
}
.filtertxt{
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  position: relative;
}

.filtertxt:hover{
  box-shadow: inset 0 0 5px #2e7bf7;
}

.arrow{
  position: absolute;
  top: 14px;
  right: 10px;
  /* transform: rotate(-180deg); */
}
.flip{
  transform: rotate(-180deg);
}
.dropContent{
  display: none;
}


.box3{
    margin-top: 15px;
    background: white;
    /* height: 100%; */
    height: 300px;
    position: relative;
    box-shadow: 2px 2px 3px rgba(184,184,184,0.25), -2px 0 3px rgba(184,184,184,0.25);
}

/* figure and caption distance fix */
figure {
    position: absolute;
    text-align:center;
    width: 260px;
    height:100px;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -130px;
}

figcaption{
  color: #c5cbd6;
  margin-top: 13px;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  left: 50%;
  margin-left: -45px;
  animation: rotate 3s infinite;
}

.loadingImg{
  width: 90px;
}

.result{
  display: none;
  background: white;
}

.resultList{
  box-shadow: 2px 2px 1px rgba(184,184,184,0.25), -2px 0 1px rgba(184,184,184,0.25);
  padding: 12px;
}

.subList{
  font-size: 0.75rem;
  margin-top: 2px;
  color: #c5cbd6;
}

.middot{
    color: #c5cbd6;
}
